<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <main layout:fragment="content">
        <dl>
            <dt th:text="#{board.subject}"></dt>
            <dd th:text="${boardData.subject}"></dd>
        </dl>
        <dl>
            <dt th:text="#{board.content}"></dt>
            <dd th:utext="${boardData.content}"></dd>
        </dl>
        <a th:href="@{/board/list}" th:text="#{board.list}">글목록</a>
        <a th:href="@{/board/write}" th:text="#{board.write}">글작성</a>
        <a th:href="@{/board/update/{id}(id=${boardData.id})}" th:text="#{board.update}">글수정</a>
    </main>
</html>